.container{
  width: 100%;
  display: grid;
  grid-template-columns: auto;

}

.content{
width: 100%;
display: grid;
grid-template-columns: auto;
row-gap: 100px;
position: sticky;



}


.sticky{
  width: 100%;
  height: 100vh;
  position: sticky;

}

@media (max-width: 800px) {
  .content{
    grid-template-columns: auto;
  }
}